@function color($type,$opacity:1) {
  @if $opacity == 1 { @return rgb(var(--color-#{$type})); }
  @else { @return rgba(var(--color-#{$type}),$opacity); }
}

body {
  background: color(base);
  color: color(main);

  @media (prefers-color-scheme: light) {
    --color-theme: 51, 103, 214;
    --color-base: 255,255,255;
    --color-main: 32, 33, 36;
  }
  @media (prefers-color-scheme: dark) {
    --color-theme: 138, 180, 248;
    --color-base: 42, 42, 42;
    --color-main: 255,255,255;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  padding: 0 25px;
  letter-spacing: .05em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
  transition: .1s ease-out;
  &:hover {
    background: color(main,.1);
  }

  img {
    margin-right: 8px;
    vertical-align: middle;
  }
}

#app {
  margin: 0;
  padding: 0 0 64px;
  width: 320px;
  height: 560px;
  overflow: scroll;
  line-height: 1.5;
  font-size: 14px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-family: "Noto Sans JP", "Noto Sans CJK JP", Robot, -apple-system, BlinkMacSystemFont, sans-serif;
  font-smoothing: antialiased;
  font-feature-settings : "pkna" 1;
  font-kerning: normal;
  hanging-punctuation: allow-end;
  letter-spacing: 0.02em;
  -webkit-text-size-adjust: 100%;
}
